#homeTitle, #newTitle {
    text-align: center;
}

#new-form {
    display: flex;
    flex-direction: column;
}

#new-reflection-form {
    display: flex;
    flex-direction: column;
}

#subtitles {
    margin-top: 50px;
    display: flex;
}

#dateSub, #moodSub {
    flex: 1;
}

#postDisplay {
    margin-top: 50px;
    display: flex;
}

#postDiv, #postDiv2 {
    flex: 1;
}

#postDiv2 {
    margin-left: 75px;
}

#navbarInner {
    margin-left: 275px;
}

#noUser {
    text-align: center;
    margin-top: 100px;
}